<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore hostingModel="InProcess" stdoutLogEnabled="true" xdt:Transform="SetAttributes(hostingModel, stdoutLogEnabled)">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_SubEnvironment" value="IISInProcess" xdt:Transform="Insert" xdt:Locator="Match(name)" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>