<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>\\IISServer.Mydomain.net\Sites\BlazorMSA\BlazorClient1\Debug</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net5.0</TargetFramework>
    <ProjectGuid>8b53ec44-5273-4ce0-acb0-431146a380b3</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>

  
  
  <!-- Manually Added -->
  <PropertyGroup>
    <EnvName>Development</EnvName>
    <SubEnvName>IIS</SubEnvName>
    <WebConfigTransform>web.$(EnvName).$(SubEnvName).config</WebConfigTransform>
    
    <!-- uses the project web.config (normaly takes from sdk "Standalone.Web.Config") -->
    <!--<PublishIISAssets>true</PublishIISAssets>--> 
  </PropertyGroup>
  
  
  <ItemGroup>
    <Content Remove="wwwroot\appsettings*.json" />
  </ItemGroup>

  <ItemGroup>
    <None Include="wwwroot\appsettings.json" >
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </None>
    <None Include="wwwroot\appsettings.$(EnvName).json" >
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </None>
    <None Include="wwwroot\appsettings.$(EnvName).$(SubEnvName).json" >
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </None>
  </ItemGroup>


  <!--<Import Project="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VisualStudio\v16.0\WebApplications\Microsoft.WebApplication.targets" />-->  
  <Target Name="TransformWebConfig" AfterTargets="Publish">
    <!--<Exec Command="ECHO PublishDir: $(PublishDir)" />-->
    <!--<Exec Command="ECHO ProjectDir: $(ProjectDir)" />-->
    <TransformXml Source="$(PublishDir)web.config" Transform="$(ProjectDir)$(WebConfigTransform)" Destination="$(PublishDir)web.config.transformed" /> 
    <Move SourceFiles="$(PublishDir)web.config" DestinationFiles="$(PublishDir)web.config.ORI"/> 
    <Move SourceFiles="$(PublishDir)web.config.transformed" DestinationFiles="$(PublishDir)web.config"/> 
    <Exec Command="ECHO XXXXXXXXXXXXXXXXXXXX custom web.config transform has been called XXXXXXXXXXXXXXXXXXXXXXX" />
    <!-- hack to sllep 10 seconds-->
    <!--<Exec Command="ping 127.0.0.1 -n 10 > null" /> --><!--sleep-->
  </Target>

</Project>