@page "/listusers"
@inject IHttpClientFactory ClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration

<h4>Users with role <b>BlazorClient1_User</b></h4>


@if (Model == null) {
  <p><em>Loading...</em></p>
}
else {
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var usr in Model) {
        <tr>
          <td>@usr.Id</td>
          <td>@usr.UserName</td>
          <td>@usr.Email</td>
        </tr>
      }
    </tbody>
  </table>
}





@code {

  private IList<ApplicationUserModel> Model = null;

  public class ApplicationUserModel {
    public string Id { get; set; }
    public string UserName { get; set; }
    public string Email { get; set; }
  }


  protected override async Task OnInitializedAsync() {
    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authState.User;
    if (user.Identity.IsAuthenticated) {
      var HttpClient = ClientFactory.CreateClient("IdentityServerUsersHttpClient");
      Model = await HttpClient.GetFromJsonAsync<IList<ApplicationUserModel>>(Configuration["ServicesUrls:IdServer"] + "/Users/ListUsers");
    }
  }



}