<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>

    <httpProtocol xdt:Transform="Insert">
      <customHeaders >
        <add name="blazor-environment" value="Development"  />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>